<div class="navbar-fixed color">
    <nav *ngIf="loggedUser">
        <div class="nav-wrapper color">
            <a href="/home" class="brand-logo center hide-on-small-and-down">BandBuilder</a>
            <ul class="right hide-on-small-and-down">
                <li><a [routerLink]="['/profile', loggedUser._id, 'edit']">Edit Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
            <a href="/home" class="brand-logo left hide-on-med-and-up">BandBuilder</a>
            <ul class="right hide-on-med-and-up">
                <li><a [routerLink]="['/profile', loggedUser._id, 'edit']">Edit Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>
<div *ngIf="loggedUser" class="row align-center">
    <div class="col s12 m6 offset-m3 border">
        <h5 class='center-align'>My Profile</h5>
        <hr>
        <br>
        <table>
            <tr>
                <td>Full Name:</td>
                <td>{{loggedUser.first_name}} {{loggedUser.last_name}}</td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td>{{loggedUser.bio}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{loggedUser.email}}</td>
            </tr>
            <tr>
                <td>Skill Level:</td>
                <td>{{loggedUser.skill}}</td>
            </tr>
            <tr>
                <td>Instruments:</td>
                <td>
                    <ul>
                        <li *ngFor="let instrument of loggedUser.instruments">{{instrument}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Genres:</td>
                <td>
                    <ul>
                        <li *ngFor="let genre of loggedUser.genres">{{genre}}</li>
                    </ul>
                </td>
            </tr>            
        </table>
    </div>
</div>
<!--End Main Content-->
<!--Footer-->
<div class="row footer">
    <div class="col s12 m4 move-right down-5">
        <p class="left-align inline-block">Created by Shahan Krakirian</p>
    </div>
    <div class="col s12 m4">
        <ul>
        <li class="list-inline-item li hoverable">
            <a href="https://www.linkedin.com/in/shahan-krakirian/">
            <i class="fab fa-cog fa-linkedin"></i>
            </a>
        </li>
        <li class="list-inline-item li hoverable">
            <a href="https://github.com/ShahanKrakirian">
            <i class="fab fa-cog fa-github"></i>
            </a>
        </li>
        <li class="list-inline-item li hoverable">
            <a href="https://www.shahankrakirian.com/">
            <i class="fab size fa-chrome"></i>
            </a>
        </li>
        </ul>
    </div>
</div>