<nav>
    <div>
        <a href="#!" class="brand-logo center"><i class="material-icons">music_video</i>BandBuilder<i class='material-icons'>build</i></a>
        <ul *ngIf="loggedUser" class="right hide-on-med-and-down">
            <li><a [routerLink]="['/profile', loggedUser._id, 'edit']">Edit Profile</a></li>
            <li><a (click)='logoutFromService()'>Logout</a></li>
        </ul>
    </div>
</nav>
<div *ngIf="loggedUser">
<h4>My Profile</h4>
    Full Name:
    {{loggedUser.first_name}} {{loggedUser.last_name}} <br><br>
    Bio:
    {{loggedUser.bio}} <br><br>
    Email:
    {{loggedUser.email}}  <br><br>
    Skill:
    {{loggedUser.skill}}  <br><br>
    Instruments:
    {{loggedUser.instruments}}  <br><br> <!--Fix-->
    Genres:
    {{loggedUser.genres}} <br><br>  <!--Fix-->
</div>