<div class="navbar-fixed color">
    <nav *ngIf="loggedUser">
        <div class="nav-wrapper color">
            <a href="/home" class="brand-logo center hide-on-small-and-down">BandBuilder</a>
            <ul class="right hide-on-small-and-down">
                <li><a [routerLink]="['/profile/', loggedUser._id]">Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
            <a href="/home" class="brand-logo left hide-on-med-and-up">BandBuilder</a>
            <ul class="right hide-on-med-and-up">
                <li><a [routerLink]="['/profile/', loggedUser._id]">Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>
<!--Main content-->

<div id="row">
    <div class="col s12 m4 offset-m2 center-align back">
        <div class="row align-center">
            <h5>Find Your BandMates</h5>
            <hr>
            <p *ngIf="noResults" class="align-right">No results found.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 offset-m2">
        <label for="searchBy">Filter By:</label>
        <select id="searchBy" class="browser-default" [(ngModel)]="searchResults.searchBy">
            <option value="instrument">Instrument</option>
            <option value="genre">Genre</option>
            <option value="skill">Skill Level (Beginner, Intermediate, Advanced)</option>
        </select>
    </div>
    <div class="col s12 m4">
        <form id="form" *ngIf="searchResults.searchBy == 'instrument'" (submit)="getSearchResultsFromService()">
            <label for="searchBy">Select:</label>
            <select name="searchBy" id="searchBy" class="browser-default" [(ngModel)]="searchResults.input">
                <option value="Bass">Bass</option>
                <option value="Drums">Drums</option>
                <option value="Guitar">Guitar</option>
                <option value="Keyboard">Keyboard</option>
                <option value="Vocals">Vocals</option>
            </select>
        </form>
        <form id="form" *ngIf="searchResults.searchBy == 'genre'" (submit)="getSearchResultsFromService()">
            <label for="searchBy">Select:</label>
            <select name="searchBy" id="searchBy" class="browser-default" [(ngModel)]="searchResults.input">
                <option value="Blues">Blues</option>
                <option value="Funk">Funk</option>
                <option value="Jazz">Jazz</option>
                <option value="Rock">Rock</option>
                <option value="Ska">Ska</option>
            </select>
        </form>
        <form id="form" *ngIf="searchResults.searchBy == 'skill'" (submit)="getSearchResultsFromService()">
            <label for="searchBy">Select:</label>
            <select name="searchBy" id="searchBy" class="browser-default" [(ngModel)]="searchResults.input">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </form>
    </div>
</div>
<div class="row container">
    <!--Submit button for all three forms-->
    <button class="btn btn-sm s2 offset-s5" type="submit" form="form">Filter</button>
    <br><br>
    <div id="map-canvas"></div>
</div>
<!--End main content-->
<!--Footer-->
<div class="row footer">
    <div class="col s12 m4 move-right down-5">
      <p class="left-align inline-block">Created by Shahan Krakirian</p>
    </div>
    <div class="col s12 m4">
      <ul>
        <li class="list-inline-item li hoverable">
          <a href="https://www.linkedin.com/in/shahan-krakirian/">
            <i class="fab fa-cog fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item li hoverable">
          <a href="https://github.com/ShahanKrakirian">
            <i class="fab fa-cog fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item li hoverable">
          <a href="https://www.shahankrakirian.com/">
            <i class="fab size fa-chrome"></i>
          </a>
        </li>
      </ul>
  </div>
</div>