#map-canvas{
    height: 400px;
    width: 400px;
}
h3{
    color:white;
}
nav{
    border-radius: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0);
}
p{
    color:black;
}
label{
    color:black;
}
.back{
    background: rgba(255,255,255,.7);
    border-radius: 10px;
    margin-top: 60px;
}
a{
    color:white;
}
.back{
    background: rgba(255,255,255,.7);
    border-radius: 10px;
}
hr{
    margin: 0px 65px;
}