<nav *ngIf="loggedUser">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"><i class="material-icons">music_video</i>BandBuilder<i class='material-icons'>build</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/profile/', loggedUser._id]">Profile</a></li>
            <li><a (click)='logoutFromService()'>Logout</a></li>
        </ul>
    </div>
</nav>
<h3>Welcome, {{loggedUser.first_name}}!</h3>
<a [routerLink]="['/user/92839472']">Test</a>
<div id="map-canvas"></div>
