table{
    line-height: 1;
    color:black;
}
td{
    padding: 0px;
}
p{
    color:black;
}
.back{
    background: rgba(255,255,255,.7);
    border-radius: 10px;
}
.height{
    margin-top:50px;
}
::placeholder{
    color:black;
    opacity:.4;
}