select{
    background-color:#d1d4c8e6;
    opacity: .7;

}
.inline-block{
    display:inline-block;
}
nav{
    border-radius: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0);
}
.back{
    background: rgba(255,255,255,.7);
    border-radius: 10px;
}
.up{
    margin-top:10px;
}
label{
    color:black;
}
table{
    border-spacing: 0;
}
td, th{
    padding: 5px 5px;
    display:table-cell;
    text-align: left;
    vertical-align:middle;
    border-radius:2px;
}