<div class="navbar-fixed">
    <nav *ngIf="loggedUser">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo center hide-on-small-and-down">BandBuilder</a>
            <ul class="right hide-on-small-and-down">
                <li><a [routerLink]="['/profile', loggedUser._id]">Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
            <a href="/home" class="brand-logo left hide-on-med-and-up">BandBuilder</a>
            <ul class="right hide-on-med-and-up">
                <li><a [routerLink]="['/profile', loggedUser._id]">Profile</a></li>
                <li><a (click)='logoutFromService()'>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>
<div *ngIf="profileUser" class="row center-align">
    <div class="col s12 m5 back">
        <h5 class='center-align'>{{profileUser.first_name}}'s Profile</h5>
        <hr>
        <br>
        <table>
            <tr>
                <td>Full Name:</td>
                <td>{{profileUser.first_name}} {{profileUser.last_name}}</td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td>{{profileUser.bio}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{profileUser.email}}</td>
            </tr>
            <tr>
                <td>Skill Level:</td>
                <td>{{profileUser.skill}}</td>
            </tr>
            <tr>
                <td>Instruments:</td>
                <td>
                    <ul *ngIf="profileUser">
                        <li *ngFor="let instrument of profileUser.instruments">{{instrument}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Genres:</td>
                <td>
                    <ul *ngIf="profileUser">
                        <li *ngFor="let genre of profileUser.genres">{{genre}}</li>
                    </ul>
                </td>
            </tr>            
        </table>
    </div>
    <div class="col s12 m5 offset-m1 back overflow">
        <h5 class="center-align" >Chatting with {{profileUser.first_name}}</h5>
        <hr>
        <p *ngFor="let message of messages">{{message.sender}}: {{message.message}}</p>
    </div>
    <br>
    <form class="col s12 m5 offset-m6 back" (submit)="createMessageFromService(loggedUser._id, profileUser._id, false)">
        <input type="text" name="message" [(ngModel)]=messageToAdd.body>
        <button class="btn center-align" type="submit">Send Message</button>
        <br><br>
    </form>
</div>

