<div class="image width">
  <br><br>
    <div class="row">
      <div class="col s12 m3 offset-m6 back center-align">
        <br>
        <h5>Band Builder</h5>
        <hr>
        <br>
        <a *ngIf="!loginFlag.status" (click)="changeLoginFlag()">Login</a><span *ngIf="!loginFlag.status">&nbsp;&nbsp;</span><a *ngIf="loginFlag.status" class="center-align" (click)="changeLoginFlag()">Register</a>
        <br>
        <form *ngIf="userToAdd && passwordCheck && !loginFlag.status" (submit)="registerFromService()">
            <input type="text" name="first_name" [(ngModel)]=userToAdd.first_name placeholder="First Name">
            <input type="text" name="last_name" [(ngModel)]=userToAdd.last_name placeholder="Last Name">
            <input type="text" name="email" [(ngModel)]=userToAdd.email placeholder="Email@sample.com">
            <input type="password" name="password" [(ngModel)]=passwordCheck.password placeholder="Password">
            <input type="password" name="password_confirm" [(ngModel)]=passwordCheck.confirm_password placeholder="Confirm Password">
              <select [(ngModel)]="userToAdd.skill" name="skill" class='browser-default'>
                <option value="Beginner" selected>Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            <br>
            <button class='btn' type='submit'>Register</button>
            <br><br>
            <p *ngFor="let error of errors">{{error}}</p>
            <br>
        </form>
        <form *ngIf='userToLogin && loginFlag.status' (submit)="loginFromService()">
          <input type="text" name="email" [(ngModel)]=userToLogin.email placeholder="Email@sample.com">
          <input type="password" name="password" [(ngModel)]=userToLogin.password placeholder="Password">
          <button type='submit' class='btn'>Login</button>
          <br><br>
          <p *ngFor="let error of errors">{{error}}</p>
          <br>
      </form>
    </div>
  </div>
</div>
<br><br><br>
<!-- Row -->
<div class="row">
  <div class="col s12 m4 offset-m2">
    <h4>Right Now</h4>
    <hr>
    <div class="right hide-on-small-only">
      <ul class="move-left">
        <li>Locate musicians in your area</li>
        <li>Filter musicians by genre, skill level, or instrument</li>
        <li>Connect with musicians using the messaging platform</li>
      </ul>
    </div>
    <div class="center-align hide-on-med-and-up">
        <ul>
          <li>Locate musicians in your area</li>
          <li>Filter musicians by genre, skill level, or instrument</li>
          <li>Connect with musicians using the messaging platform</li>
        </ul>
      </div>
  </div>
  <div class="col image2 hide-on-small-only"></div>
  <div class="col s12 image2 hide-on-med-and-up"></div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
  <div class="col s12 m3 offset-m3 image3"></div>
  <div class="col s12 m4 down">
    <h4>Coming Soon</h4>
    <hr>
    <div class="left hide-on-small-only">
      <ul class="move-right">
        <li>Create groups for consistency amongst the crowd</li>
        <li>Friendlier user experience</li>
      </ul>
    </div>
    <div class="center-align hide-on-med-and-up">
        <ul>
          <li>Create groups for consistency amongst the crowd</li>
          <li>Friendlier user experience</li>
        </ul>
      </div>
  </div>
</div>
<br><br><br>
<!-- End Row -->
<!--Footer-->
<div class="row footer">
  <div class="col s12 m4 move-right down-5">
    <p class="left-align inline-block">Created by Shahan Krakirian</p>
  </div>
  <div class="col s12 m4">
    <ul class="inline-block">
      <li class="list-inline-item li hoverable">
        <a href="https://www.linkedin.com/in/shahan-krakirian/">
          <i class="fab fa-cog fa-linkedin"></i>
        </a>
      </li>
      <li class="list-inline-item li hoverable">
        <a href="https://github.com/ShahanKrakirian">
          <i class="fab fa-cog fa-github"></i>
        </a>
      </li>
      <li class="list-inline-item li hoverable">
        <a href="https://www.shahankrakirian.com/">
          <i class="fab size fa-chrome"></i>
        </a>
      </li>
    </ul>
  </div>
</div>