<div>
  <form *ngIf="userToAdd && passwordCheck" (submit)="registerFromService()">
    <table>
      <tr>
        <td>First Name</td>
        <td><input type="text" name="first_name" [(ngModel)]=userToAdd.first_name></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" name="last_name" [(ngModel)]=userToAdd.last_name></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email" [(ngModel)]=userToAdd.email></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" [(ngModel)]=passwordCheck.password></td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td><input type="password" name="password_confirm" [(ngModel)]=passwordCheck.confirm_password></td>
      </tr>
      <tr>
        <td>Approximate Skill Level</td>
        <td>        
          <select [(ngModel)]="userToAdd.skill" name="skill" class='browser-default'>
            <option value="Beginner" selected>Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button class='btn' type='submit'>Register</button></td>
      </tr>
    </table>
  </form>
  <p>Already have an account? Login <a (click)="goToLogin()">here.</a></p>
</div>
<p *ngFor="let error of errors">{{error}}</p>